body{

    /*ricorda sempre i punti e virgola alla fine*/
    color:rgb(0, 0, 0); /*di tutto il testo*/

    /*1 incollato direttamente da google
    font-family: 'Roboto', sans-serif;
    font-size: 20px;*/

    /*1 inserisco Halyard per tutto il documento*/
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 20px;
}

/*sottolineare solo h1*/
h1 {
    background-color: aqua;
}

h4 {
}

/* a indica il link*/
a {
    border-bottom: 1px solid black; /*shorthand di ciò che sarebbero diverse righe di codice*/
}

/*tutti i link quando il mouse è sopra*/
a:hover { 
    color:black 
    text-decoration: underline;
}

/*tutti i link quando il mouse è stato visitato
a:visited { 
    color:rgb(0, 255, 8);
    text-decoration: line-through;
}*/